body
{
margin: 0;
padding: 0;
background: url(https://4vector.com/i/free-vector-fashion-shopping-01-vector_000527_fashion_shopping_01_vector.jpg);
background-size: cover;
background-position:center;
font-family: "Times New Roman", Times, serif;
}

.box
{

width: 360px;
height: 520px;
background: #000;
position: absolute;
transform: translate(-50%, -50%);
box-sizing: border-box;
padding: 75px 30px;
color: #fff;
top: 50%;
left: 50%;

}

.tag
{
width: 100px;
height: 100px;
border-radius: 50%;
position: absolute;
top: -50px;
left: calc(50% - 50px);
}

h1
{
margin: 0;
padding: 0 0 20px;
text-align: center;
font-size: 22px;
}

.box p
{
margin: 0;
padding: 0;
font-weight: bold;
}

.box input
{
width: 100%;
margin-bottom: 20px;
}

.box input[type="text"], input[type="password"]
{
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: #fff;
font-size: 16px;
}

.box input[type="button"]
{
border: none;
outline: none;

color: #fff;
font-size: 18px;
border-radius: 20px;
}

.box input[type="button"]:hover
{
cursor: pointer;
background: #ffc107;
color: #000;
}

#log
{
height: 40px;
background: #fb2525;
}
#sign
{
height: 30px;
background: #6c39d6;	
}



.box a
{
text-decoration: none;
font-size: 12px;
line-height: 20px;
color: darkgrey;
}

.box a:hover
{
color: #ffc107;
}
